body {
	margin: 0;
}

h1 {
	font-weight: 400;
	margin: 12px 0 12px 0;
}

h2 {
	font-weight: 300;
	margin: 10px 0 10px 0;
}

p {
	font-style: italic;
	margin: 6px 0 6px 0;
}

#root {
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: linear-gradient(to bottom, #c5241c 0%, #c71d6f 100%);
	min-height: 100vh;
	min-width: 100vw;
	font-family: Roboto;
}