@import "./mixins";
@import "./variables";

.main {
	@include flex($mainAxis: center, $crossAxis: center);
	background-color: white;
	min-height: $main-height;
	width: $main-width;
	border-radius: $main-border-radius;
	overflow-y: auto;
}

.content {
	@include flex($direction: column);
	max-width: 400px;
}

#face {
	@include centerByMargin(0, auto, 0, auto);
	width: 100px;
	height: auto;
	border: 2px solid #f2f2f2;
	border-radius: 50%;
	transition: $animation;
}

#face:hover {
	transform: rotate(20deg);
}

h1 {
	font-weight: 400;
	margin: 12px 0 12px 0;
}

h2 {
	font-weight: 300;
	margin: 10px 0 10px 0;
}

p {
	font-style: italic;
	margin: $p-margin 0 $p-margin 0;
}

footer {
	@include flex(wrap, space-between);
	margin-top: 8px;
	width: 120px;
}

footer > a {
	color: $anchor-color;
	transition: $animation;
}

a:hover {
	color: lighten($anchor-color, 30%);
}