$bg-gradient: linear-gradient(to bottom, #c5241c 0%, #c71d6f 100%);

$page-height: 100vh;
$page-width: 100vw;

$main-height: 90vh;
$main-width: 90vw;
$main-border-radius: 10px;

$p-margin: 6px;

$font: Roboto;